@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*{
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #161f30;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    background-color: #161f30;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: auto;
    overflow: auto;
}

.effective{
    height: 150px;
    margin: 20px auto;
    /* width: 465.5px; */
    width :40%;
    max-width: 465.5px;
    min-width: 376px;
    border-radius: 25px;
    background: #161f30;
    box-shadow:  10px 10px 44px #090c13,
             -10px -10px 44px #23324d;
}

.calc{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #88a273;
    box-shadow: inset 30px 30px 65px #5a6b4c,
            inset -30px -30px 65px #b6d99a;
    /* width: 435.5px; */
    width : 95%;
    max-width: 435.5px;
    height: 120px;
    margin: 15px auto;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    width : 70%;
    margin : 20px auto;
}

label {
    font-weight: bold;
    font-size: 1.5rem;;
    color: #757b84;
    padding:5px

}

input[type="button"] {
    width: fit-content;
    padding: 15px 20px;
    color: #161f30;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 20px auto;
    border-radius: 63px;
    /* background: linear-gradient(145deg, #182133, #141c2b); */
    background: #161f30;
    color: #fff;
    box-shadow:  20px 20px 60px #131a29,
             -20px -20px 60px #192437;
    border: 2px solid #fff;
            /* background: linear-gradient(145deg, #ffffff, #e6e6e6);
box-shadow:  15px 15px 30px #090c13,
             -15px -15px 30px #23324d; */
    /* background: #fff; */
    cursor: pointer;
    box-sizing: box ;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 0px;
    border-radius: 15px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    /* box-shadow: inset 2px 5px 10px rgb(67, 67, 67); */
}


input[type="button"]:active {
    border-radius: 50px;
    background: #fff;
    color: #161f30;
    box-shadow:  20px 20px 60px #131a29,
             -20px -20px 60px #192437;  
}

#cur_price{
    color: #1a2710;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding:10px 10px 0px 10px;
}

#adjusted_price_inr
{
    color: #1a2710;
    padding:0px 10px 0px 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.price,.rate,.cur_rate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin : 5px;
    align-items: center;
}


